
RewriteEngine on


RewriteCond %{REQUEST_URI} "^/dispatch\.js$"
RewriteRule ^ "/mdispatch.php" [L]

RewriteCond %{THE_REQUEST} !dispatch\.js [NC,OR]
RewriteCond %{REQUEST_METHOD} !^(post) [NC]
RewriteRule .* - [L,R=404]

